ion-content{
    --background: #f7257c;
    border:3px solid white;
    border-radius: 40px;
}
form{
    margin-left: 10%;
    margin-right: 10%;
}
p{
    text-align: center;
}
ion-button{
    text-align: center;

}